<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
</head>
<body>
    <h1>Books Available:</h1>
    <ul>
        {% for book in books %}
        <li>{{ book.title }} by {{ book.author.name }}</li>
        {% endfor %}
    </ul>

<div style="position: absolute; top: 10px; right: 10px;">
    {% if user.is_authenticated %}
        <span>Hello, {{ user.username }}!</span>
        <a href="{% url 'relationship_app:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'relationship_app:login' %}">Login</a>
        <a href="{% url 'relationship_app:register' %}">Register</a>
    {% endif %}
</div>    

</body>
</html>